<h3>Vui lòng kiểm tra lại thông tin trước khi yêu cầu rút tiền</h3>
<ul>
    <li>Số tiền muốn rút: @ViewBag.Amount VND</li>
    <li>Ngân hàng nhận: Vietcombank</li>
    <li>Số tài khoản: 987654321</li>
    <li>Chủ tài khoản: Nguyễn văn A</li>
</ul>
<button class="btn btn-success">Tôi đồng ý rút tiền</button>